[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "python3 exact_cover_solver/main.py"
format = "black ."
lint = "./scripts/lint.sh"
test = "pytest --cov=exact_cover_solver tests"
htmlcov = "pytest --cov=exact_cover_solver tests --cov-report html"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
flake8-docstrings = "*"
pytest-cov = "*"
pdoc3 = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
