[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "python3 src/exact_cover_solver/main.py"
format = "black ."
lint = "./scripts/lint.sh"

[dev-packages]
pytest = "*"
coverage = "*"
black = "*"
flake8 = "*"
flake8-docstrings = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
